<?xml version="1.0" encoding="utf-8" ?>
<!-- See http://www.iTyndall.com for details. -->
<configuration>
	<startup>
		<supportedRuntime version="2.0.50727"/>
		<supportedPSVersion version="3.0"/>
	</startup>
	<scriptSettings>
		<setting name="Var1" serializeAs="String">
			<value>Foo</value>
		</setting>
		<setting name="Var2" serializeAs="String">
			<value>Bar</value>
		</setting>
	</scriptSettings>
</configuration>
